<!--<ion-view title="Contact" hide-side-button="false">-->
 <!--<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>-->
<ion-view view-title="My Life">

     <ion-content class="has-header padding">
             <header class="w3-container  w3-padding" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Hi..This is Heera</h3>
        <h5 style="color:#FFF;">Co-Founder Of Phoenix</h5>
   
  </div>
</header>
        <!--<div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/" alt="" style="width:100%" ></div> -->
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
 
I m doing B.Sc Computer Science in Madura College. 
I am very interested to learn new technologies and share my knowledge with others. 
I want to become a Great Entrepreneur. 
I am passionate to developing website,mobile application, contributing to the open source.
 </b> </div>
</div>
 <header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">HomeTown</h3>
          
  </div>
</header>
     <!--   <div class="w3-container w3-center w3-white w3-card-2" style="width:100%">
  <img src="img/giri.jpg" alt="Car" style="width:70%" ></div> -->
    
    <div class="w3-container  w3-white w3-card-2" style="width:100%"><br><b>
  I live in Madurai. Madurai is my home town which is situated in south part of Tamil Nadu in India. 



 </b> </div>
</div>

<header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">My Strength</h3>
          
  </div>
</header>
      <!--  <div class="w3-container w3-center w3-white w3-card-2" style="width:100%">
  <img src="img/giri.jpg" alt="Car" style="width:70%" ></div> -->
    
    <div class="w3-container  w3-white w3-card-2" style="width:100%"><br><b>
 <font color="brown"><b></b> </font>I have capacity to lead a team in any situation. I believe myself, I can able to work on all fields in Technology. 


  </b> </div>
</div>
<header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">My Skills</h3>
          
  </div>
</header>
     <!--   <div class="w3-container w3-center w3-white w3-card-2" style="width:100%">
  <img src="img/giri.jpg" alt="Car" style="width:70%" ></div> -->
    
    <div class="w3-container  w3-white w3-card-2" style="width:100%"><br><b>
      Basic of C, Basic of C++, Java, Python, HTML, HTML5, Linux, Unix, Ionic, Visual Basic.
 </b> </div>
</div>
<header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Volunteer and Causes</h3>
          
  </div>
</header>
    <!--    <div class="w3-container w3-center w3-white w3-card-2" style="width:100%">
  <img src="img/giri.jpg" alt="Car" style="width:70%" ></div> -->
    
    <div class="w3-container  w3-white w3-card-2" style="width:100%"><br><b>
 
I’m one of the core member of GDG Madurai community and volunteer of Metoomentor organization.  

  </b> </div>
</div>
            </div><br><br>
    </ion-content>
</ion-view>
