

<ion-view view-title="Contact" >
    <ion-content class="im-wrapper">
	        
      <header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    
	<div class="w3-center">
    <h3 style="color:#FFF;">Ping Me</h3>
          
  </div>
</header>


 <div class="list ">

        <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/Website.jpg">
                    <h2><b>Mysite</b></h2>
                  <div class="item-text-wrap">  <p><b>tinyurl.com/Heerashree</b></p></div>
                </a>
            <a  ui-sref="#" class="item item-avatar item-icon-right ">
                    
                    <img src="img/email.jpg">
                    <h2><b>Email</b></h2>
                 <div class="item-text-wrap">  <p><b>parimala.haeer@gmail.com</b></p></div>
                    
                </a>
               <a  ui-sref="#"  class="item item-avatar item-icon-right ">
                    <img src="img/Linkedin.jpg">
                    <h2><b>Linkedin</b></h2>
                    <div class="item-text-wrap"><p><b>https://in.linkedin.com/pub/heera-shree/102/96/ba4</b></p></div>
                </a>
                <!--<a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/Google Plus.jpg">
                    <h2><b>Google Plus</b></h2>
                    <div class="item-text-wrap"><p><b>https://plus.google.com/u/0/110712646019082097230/posts</b></p></div>
                </a>-->
                 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/twitter.jpg">
                    <h2><b>Twitter</b></h2>
                 <div class="item-text-wrap">    <p><b>https://twitter.com/HeeraShree</b></p></div>
                </a>
				<a  ui-sref="#"  class="item item-avatar item-icon-right ">
                    <img src="img/w.png">
                    <h2><b>Wordpress</b></h2>
                    <div class="item-text-wrap"><p><b>https://heerashree.wordpress.com</b></p></div>
                </a>
				<a  ui-sref="#"  class="item item-avatar item-icon-right ">
                    <img src="img/g.png">
                    <h2><b>Github</b></h2>
                    <div class="item-text-wrap"><p><b>https://github.com/Heera-shree</b></p></div>
                </a>
            </div>
<br><br>
    </ion-content>
</ion-view>
