<ion-view view-title="Acheivements">
    <ion-content>
        <div class="im-wrapper ">
            <center><h4><b>We got more recognization for our products.</b></h4></center>
        <!--    <p>We got more recognization for our products.</p>  -->
              <div class="w3-container w3-center w3-white w3-card-8 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                    <img src="img/techno.jpg">
                    <div class="item-text-wrap"><h2><b>Technovation Challenge</b></h2></div>
                    <p>May 2014</p>
                </a>
                <div >
                    <p><font color="brown" ><b>Our Traditional Indian Medicine app idea got shortlisted in Asian pacific level competition.And our idea was announced in technovation challenge official website.</b></font></p>
                </div>    
            </div>
        </div>
         <!--<div class="w3-container w3-center w3-white w3-card-8 w3-margin-top" style="width:100%">
            <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/bnglr.jpg">
                    <div class="item-text-wrap"><h2><b>WeTech Pitch Event</b></h2></div>
                    <p>August 2014</p>
                </a>
                <div>
                 <p><font color="brown" ><b>Our idea got third prize in WeTech pitch Event held at Bangalore.</b></font></p>
                </div>    
            </div>
        </div>-->
         <div class="w3-container w3-center w3-white w3-card-8 w3-margin-top" style="width:100%">
             <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/pitch.png">
                  <div class="item-text-wrap">  <h2><b>Chennai Pitch Event</b></h2></div>
                    <p>October 2014</p>
                </a>
                <div>
                    <p><font color="brown" ><b>Our team was selected in top 10 to present our idea in Chennai pitch Event.</b></font></p>
                </div>    
            </div>
            </div>
               <!--<div class="w3-container w3-center w3-white w3-card-8 w3-margin-top" style="width:100%">
              <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/arambam.jpg">
                 <div class="item-text-wrap">   <h2><b>Aarambam Startup <br>contest</b></h2></div>
                    <p>November 2014</p>
                </a>
                <div>
                    <p><font color="brown" ><b>Our Pocket Doctor App got first prize startup contest happening at Madurai.</b></font></p>
                </div>    
            </div>
            </div>
         <div class="w3-container w3-center w3-white w3-card-8 w3-margin-top" style="width:100%">
                  <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/wc.jpg">
                 <div class="item-text-wrap">   <h2><b>Women Who Code</b></h2></div>
                    <p>September 2015</p>
                </a>
                <div>
                    <p><font color="brown" ><b>We Secured I prize in Hikathon and won Rs.75000/- cash award.</b></font></p>
                </div>    
            </div>-->
              
              </div>
            </div> <br><br>
    </ion-content>
</ion-view>
