<ion-view view-title="Projects">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
           <font color="blue" ><b>Mobile & Web applications</b></font>
        </div>
        <br>
         <div class="w3-container w3-light-grey w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                      <img src="img/tim.jpg">
                    <h2><b><font color="green" >Indian Medicine</font></b></h2>
                     <p><font color="green" >Hybrid Application</font></p>
                </a>
                <div >
                    <p><font color="black" ><b>It is an android application which will rebuilt the indian medicine.
				Nowdays, people are not awareness about the indian medicine.People are migrated to other medicine.we provide instruction and video for how to prepare the remedy in your home 
				using in our app. </b></font></p>
                </div>    
            </div>
        </div>
                 <div class="w3-container w3-light-grey  w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                      <img src="img/website.jpg">
                   <h2> <font color="brown" ><b>My Website</b></h2>
                     <p> <font color="brown" ></p></font>
                </a>
                <div>
                    <p><b> <font color="black" >I creating my website using bootstrap.It contains my part of life history,Education,Skills,Achievements and portfolio.</b></p>
                </div>    
            </div>
        </div>

                 <!--<div class="w3-container w3-center w3-light-grey w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                    <img src="img/lib.jpg">
                     <h2><b><font color="brown" >Library Management</font></b></h2>
                     <p><font color="brown" >Window Application</font></p>
                </a>
                <div >
                    <p><font color="black" ><b>This project “LIBRARY  MANAGEMENT SYSTEM” is mainly used for monitoring and controlling the transaction in a Library. </b></font></p>
                </div>    
            </div>-->
        </div>


        <br><br>
          </ion-content>
</ion-view>
