<ion-view view-title="Timeline">

     <ion-content class="has-header padding">
             <header class="w3-container  w3-padding" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Now</h3>
        <h5 style="color:#FFF;">Co-Founder Of phoenix</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/entr.jpg" alt="phoenix" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
  Totally 5 members are co-founders in our company.They are Me,Malini,Prahatheeswari,Mageswari,and Divyashree. The Lead and Mentor of our company is Mr.Senthilkumar and Manimala.Our services are developing mobile applications and web applications.
 </b> </div>
</div>



 <header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">GDG Madurai</h3>
        <h5 style="color:#FFF;"> February 2015 - Present</h5>

   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/gdg.jpg" height="100" width="600" alt="GDG" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
Google Developers Group Madurai Community.
 GDG Madurai is a community where programmers meet to discuss and work with several Google developer resoources and products.I am one of the core member of this GDG Madurai Community.
 </b> </div>
</div>

 <header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Metoomentor</h3>
    <h5 style="color:#FFF;">June 2012 - May 2015</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/mlogo.jpg" alt="Metoomentor" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
  Metoomentor platform started with the objective of giving technological opportunity to everyone, mainly focusing on young students in tier 2 and tier 3 cities in India. I am one of the core member  of this platform.
 </b> </div>
</div>

 <!--<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#009688 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  My College</h3>
        <h5 style="color:#FFF;"> June 2012 - May 2015</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/giri.jpg" alt="College" style="width:70%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>


 I completed my B.Sc(Computer Science) degree in Madura College, Kamaraj University,Madurai.  </b> </div>
</div>-->

<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  My College</h3>
        <h5 style="color:#FFF;"> June 2013 - May 2016</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/mdu.jpg" alt="College" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>


I m doing my B.Sc(Computer Science) degree in Madura College, Kamaraj University,Madurai.  </b> </div>
</div>


<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">   My Higher Secondary</h3>
        <h5 style="color:#FFF;"> June 2011 - May 2013</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/hs.jpg" alt="HSS" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
I Completed HSS in E.V.R.N Girls Hr.Sec.School.I scored 80% in my 12th std.  </b> </div>
</div>


<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  My High School</h3>
        <h5 style="color:#FFF;"> June 2010 - May 2011</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/images.jpg" alt="School" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>


  I did my 10th std in Sri Meenakshi Girls Higher secondary school,Karaikudi.I scored 93% in my 10th std.
  </b> </div>
</div>



<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  Middle school</h3>
        <h5 style="color:#FFF;"> 2009</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/sc.jpg" alt="Middle School" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>

 I completed my Middle school studies in Sri Meenakshi Girls Higher Secondary School,Karaikudi.
  </b> </div>
</div>

<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#0000aa !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  My Life Starts</h3>
        <h5 style="color:#FFF;"> 1996</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/start.jpg" alt="Born" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>


I was born in Karaikudi. (30/03/1996)
  </b> </div>
</div>

<br><br>
    </ion-content>
</ion-view>
